@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-userButtonPopoverFooter {
  display: none !important;
}

.cl-userButtonPopoverCard  {
  top: 62px !important;
}

.cl-internal-df7v37 {
  display: none !important;
}

.cl-internal-13u79ez {
  background: none !important;
}

[data-radix-popper-content-wrapper] {
  top: 0.875rem !important;
}